@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
	width: 64px;
	height: 64px;
	border: 4px solid transparent;
	border-top: 4px solid white;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes roll {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.animate-roll {
	animation: roll 0.5s infinite;
}

@keyframes glow {
	0% {
		box-shadow: 0 0 5px gold;
	}
	50% {
		box-shadow: 0 0 20px gold;
	}
	100% {
		box-shadow: 0 0 5px gold;
	}
}

.highlighted-pawn {
	animation: glow 1s infinite;
}

nextjs-portal {
	display: none;
}
